@import './utils/typography';
@import './utils/button';
@import './utils/form-field';

@import './components/post';
@import './components/forms';
@import './components/comments';
@import './components/header';
@import './components/account';

#app {
    display: flex;
    max-width: 760px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 10px;
}
  